[Desktop Entry]
Encoding=UTF-8
Name=Gaim
Comment=Multi-protocol Instant Messaging Client
Comment[es]=Cliente de mensajería instantánea multiprotocolo
Comment[fr]=Client de messagerie instantanée multiprotocole
Exec=gaim
Icon=gaim.png
Terminal=false
Type=Application
Categories=Application;Network;
