#!/usr/bin/make -f

include /usr/share/cdbs/1/class/autotools.mk
include /usr/share/cdbs/1/rules/simple-patchsys.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/gnome.mk
include /usr/share/cdbs/1/rules/utils.mk

## Read version numbers from the changelog
version=$(shell dpkg-parsechangelog | grep '^Version: ' | sed -e 's/^Version: //' | sed -e 's/-.*//')
major=$(shell echo ${version} | cut -d. -f1-2)
micro=$(shell echo ${version} | cut -d. -f3 | cut -d+ -f1)
nextmicro=$(shell expr ${micro} + 1)

# Build into a separate directory
DEB_BUILDDIR = $(DEB_SRCDIR)/build
DEB_CONFIGURE_SCRIPT = $(CURDIR)/configure
DEB_CONFIGURE_INVOKE = cd "$(DEB_BUILDDIR)"; $(DEB_CONFIGURE_SCRIPT_ENV) \
	../configure $(DEB_CONFIGURE_NORMAL_ARGS) --enable-gevolution --enable-cap --disable-nm --with-dynamic-prpls=bonjour,gg,irc,jabber,myspace,novell,oscar,qq,sametime,zephyr
LDFLAGS = -Wl,--as-needed

DEB_CONFIGURE_EXTRA_FLAGS := --enable-perl --with-zephyr=/usr --enable-dbus --enable-gnutls=no --enable-nss=yes --enable-cyrus-sasl
DEB_DH_MAKESHLIBS_ARGS_pidgin := -V -X/usr/lib/pidgin
DEB_DH_SHLIBDEPS_ARGS_pidgin := -X/usr/lib/pidgin/gevolution.so -X/usr/lib/pidgin/cap.so -- -dSuggests debian/pidgin/usr/lib/pidgin/cap.so -dDepends

# finch package
DEB_DH_MAKESHLIBS_ARGS_finch := -V -X/usr/lib/finch
DEB_DH_SHLIBDEPS_ARGS_finch := -X/usr/lib/finch/gntclipboard.so -X/usr/lib/finch/gntgf.so -- -dSuggests debian/finch/usr/lib/finch/gntclipboard.so debian/finch/usr/lib/finch/gntgf.so -dDepends

# libpurple package
DEB_DH_MAKESHLIBS_ARGS_libpurple0 := -V "libpurple0 (>= $(major).0)" -X/usr/lib/purple-2
DEB_DH_SHLIBDEPS_ARGS_libpurple0 := -X/usr/lib/purple-2/tcl.so -- -dSuggests debian/libpurple0/usr/lib/purple-2/tcl.so -dDepends

# for pidgin-dev, extra documentation is installed manually below
DEB_INSTALL_MANPAGES_pidgin-dev := debian/dh_pidgin.1

clean::
	rm -f debian/copyright

common-install-impl::
	rm -f debian/tmp/usr/lib/pidgin/relnot.so # release notification plugin
	rm -f debian/tmp/usr/bin/nullclient # examples
	rm -f debian/tmp/usr/bin/purple-client-example # examples
	rm -rf debian/tmp/usr/share/purple/ca-certs # we use /etc/ssl/certs
	find debian/tmp/usr/lib -name '*.la' -print0 | xargs -0 rm
	# Include author lists in copyright file
	sed -e '/@PIDGIN_COPYRIGHT@/r COPYRIGHT' \
		-e '/@PIDGIN_COPYRIGHT@/d' \
		-e '/@OSCAR_AUTHORS@/r libpurple/protocols/oscar/AUTHORS' \
		-e '/@OSCAR_AUTHORS@/d' \
	debian/copyright.in > debian/copyright

cleanbuilddir/pidgin::
	rm -f doc/TracHeader.html doc/TracFooter.html
	rm -rf $(DEB_SRCDIR)/build

build/pidgin-dev::
	pod2man debian/dh_pidgin > debian/dh_pidgin.1
	touch doc/TracHeader.html doc/TracFooter.html
	cd build; make docs

binary-install/pidgin-dev::
	dh_installdocs -ppidgin-dev debian/README.Debian.dev

cleanbuilddir/pidgin-dev::
	rm -f debian/dh_pidgin.1
