#include "resource.h"

#define PIXMAPDIR "pixmaps/"

GAIM_ICON			ICON PIXMAPDIR "gaim.ico"
GAIM_TRAY_ICON			ICON PIXMAPDIR "gaim_16.ico"
GAIM_OFFLINE_TRAY_ICON		ICON PIXMAPDIR "gaim_offline_16.ico"
GAIM_AWAY_TRAY_ICON		ICON PIXMAPDIR "gaim_away_16.ico"
GAIM_PEND_TRAY_ICON		ICON PIXMAPDIR "gaim_msgunread_16.ico"
GAIM_AWAYPEND_TRAY_ICON 	ICON PIXMAPDIR "gaim_msgpend_16.ico"
GAIM_BLANK_TRAY_ICON		ICON PIXMAPDIR "gaim_blank_4bit_16.ico"
GAIM_TRAY_ICON_4BIT		ICON PIXMAPDIR "gaim_4bit_16.ico"
GAIM_OFFLINE_TRAY_ICON_4BIT	ICON PIXMAPDIR "gaim_offline_4bit_16.ico"
GAIM_AWAY_TRAY_ICON_4BIT	ICON PIXMAPDIR "gaim_away_4bit_16.ico"
GAIM_PEND_TRAY_ICON_4BIT	ICON PIXMAPDIR "gaim_msgunread_4bit_16.ico"
GAIM_AWAYPEND_TRAY_ICON_4BIT	ICON PIXMAPDIR "gaim_msgpend_4bit_16.ico"
