body {
	word-wrap: break-word;
	word-break: break-word;
	
	font-size: 13px;
	margin: 2px;
	overflow-y: scroll;
}

.x-container,
.x-status_container
{
	clear: left;
	line-height: 1.3em;
	margin-bottom: 4px;
	height: 100%;
	overflow: hidden;
}

.x-container .x-time,
.x-status_container .x-time
{
	display: inline;
	font-size: 12px;
}

.x-container .x-sender
{
	font-weight: bold;
}

.x-time, .x-sender
{
	float: left;
	margin-right: 4px;
}

.x-message p
{
	margin: 0;
}

/* Colour-ify things */

#Chat:not(.groupchat) .x-container.incoming .x-header
{
	color: #cc0000 ! important;
}

.x-container.outgoing .x-time,
.x-container.outgoing .x-sender
{
	color: #204a87;
}

.x-container.mention .x-time,
.x-container.mention .x-sender
{
	color: #AF7F00;
}

.x-status_container
{
	color: #777777;
}

.x-status_container.error
{
	color: #ff0000;
	font-weight: bold;
}

